extends ../layouts/layout
block content
    +header(false, "", "", "", " !text-color-4", "", "",)
    <div class="pt-30 pb-50 2xl:pb-40 xl:pt-24 xl:pb-30 md:pb-24">
        <div class="container">
            <div class="max-w-[71.5rem] mb-30 text-h0-desktop 2xl:max-w-[48rem] 2xl:text-h0-tablet xl:mb-24 md:text-h1-mobile">Navigating tax planning: how to optimize your tax strategy</div>
            <div class="relative lg:pb-[11.375rem]">
                <div class="flex mb-22 lg:block md:mb-18">
                    <div class="flex flex-col shrink-0 w-[31.75rem] pr-10 xl:w-[23.125rem] lg:w-full lg:pr-0 lg:mb-16">
                        <div class="flex mb-auto">
                            <div class="w-[8.125rem] xl:w-20">
                                img(class="w-full" src=require('Images/photo-author.jpg') alt="")
                            </div>
                            <div class="pl-10 lg:pt-0 md:pl-4">
                                <div class="mb-2 uppercase text-sm text-color-7">MARCH 06, 2022</div>
                                <div class="">Pierlugui Giglio</div>
                            </div>
                        </div>
                        <div class="lg:absolute lg:left-0 lg:bottom-0">
                            <div class="mb-6 text-xl">Share post:</div>
                            <div class="flex space-x-6 md:space-x-4">
                                <a class="group flex justify-center items-center w-16 h-16 bg-color-2 rounded-full transition-colors hover:bg-color-4" href="https://www.facebook.com/ui8.net/" target="_blank" rel="noopener noreferrer">
                                    <svg class="fill-color-1 transition-colors group-hover:fill-color-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M10.095 20v-7.508H8.11V9.789h1.985V7.48c0-1.814 1.173-3.48 3.875-3.48 1.094 0 1.903.105 1.903.105l-.064 2.524-1.725-.008c-.974 0-1.13.449-1.13 1.194v1.974h2.933l-.128 2.703h-2.806V20h-2.858z" />
                                    </svg>
                                </a>
                                <a class="group flex justify-center items-center w-16 h-16 bg-color-2 rounded-full transition-colors hover:bg-color-4" href="https://twitter.com/ui8" target="_blank" rel="noopener noreferrer">
                                    <svg class="fill-color-1 transition-colors group-hover:fill-color-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20 7.044c-.588.254-1.229.436-1.888.508a3.27 3.27 0 0 0 1.442-1.807c-.643.382-1.346.65-2.081.792A3.27 3.27 0 0 0 15.078 5.5a3.28 3.28 0 0 0-3.278 3.28c0 .254.031.508.081.752C9.159 9.39 6.732 8.09 5.119 6.1c-.294.502-.448 1.074-.446 1.656a3.28 3.28 0 0 0 1.461 2.732c-.52-.02-1.028-.163-1.483-.417v.04A3.28 3.28 0 0 0 7.28 13.33a3.47 3.47 0 0 1-.863.111c-.213 0-.415-.021-.619-.05.415 1.3 1.625 2.244 3.065 2.275a6.57 6.57 0 0 1-4.071 1.402c-.275 0-.529-.01-.792-.04 1.454.933 3.178 1.471 5.036 1.471 6.03 0 9.33-4.995 9.33-9.332 0-.142 0-.285-.01-.427A7.06 7.06 0 0 0 20 7.044z" />
                                    </svg>
                                </a>
                                <a class="group flex justify-center items-center w-16 h-16 bg-color-2 rounded-full transition-colors hover:bg-color-4" href="https://www.linkedin.com/company/ui8" target="_blank" rel="noopener noreferrer">
                                    <svg class="fill-color-1 transition-colors group-hover:fill-color-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M7.632 19.644V9.325h-3.43v10.319h3.43zM5.918 7.915c1.196 0 1.94-.792 1.94-1.783C7.836 5.12 7.114 4.35 5.94 4.35S4 5.12 4 6.133c0 .99.744 1.783 1.895 1.783h.022 0zM9.53 19.644h3.43v-5.762c0-.308.022-.617.113-.837.248-.616.812-1.254 1.76-1.254 1.241 0 1.738.946 1.738 2.333v5.52H20v-5.917c0-3.169-1.692-4.644-3.949-4.644-1.85 0-2.663 1.034-3.114 1.739h.023V9.325H9.53c.045.968 0 10.319 0 10.319h0z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grow">
                        <div class="relative max-h-[53.75rem] aspect-square">
                            img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/blog-pic-1.jpg') alt="")
                        </div>
                    </div>
                </div>
                <div class="flex lg:block">
                    <div class="shrink-0 w-[31.75rem] pr-10 xl:w-[23.125rem] lg:w-full lg:pr-0"></div>
                    <div class="grow">
                        <div class="max-w-[29.25rem] mb-30 text-color-7 xl:mb-24 lg:max-w-full">Tax planning is an essential part of managing your finances effectively. It involves understanding the intricacies of the tax code and leveraging various tax strategies to minimize your tax liability and maximize your financial gains. With proper tax planning, you can optimize your tax strategy and keep more of your hard-earned money in your pocket. In this article, we will explore key tips and strategies to help you navigate tax planning and make informed decisions to optimize your tax strategy</div>
                        <div class="">
                            <div class="mb-20 last:mb-0 xl:mb-16">
                                <div class="relative mb-2 pb-2 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-7">01</div>
                                <div class="max-w-[39.75rem] mb-10 text-h3 2xl:text-h4 2xl:font-medium lg:max-w-full md:text-h5">Understanding tax planning</div>
                                <div class="max-w-[29.25rem] text-color-7 lg:max-w-full">Tax planning is the process of analyzing your financial situation and structuring your financial activities in a way that minimizes your overall tax liability. It involves taking advantage of tax deductions, credits, exemptions, and other incentives offered by the tax code. A well-thought-out tax plan can help you legally reduce your tax burden and keep more of your money to invest, save, or spend on your financial goals.</div>
                            </div>
                            <div class="mb-20 last:mb-0 xl:mb-16">
                                <div class="relative mb-2 pb-2 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-7">02</div>
                                <div class="max-w-[39.75rem] mb-10 text-h3 2xl:text-h4 2xl:font-medium lg:max-w-full md:text-h5">Save money</div>
                                <div class="max-w-[29.25rem] text-color-7 lg:max-w-full">One of the primary benefits of tax planning is the opportunity to save money. By identifying and utilizing tax deductions, credits, exemptions, and other incentives, you can lower your taxable income, which in turn reduces the amount of tax you owe. This can result in significant savings, allowing you to keep more of your hard-earned money to use for other financial purposes, such as investing, saving, or paying off debt.</div>
                            </div>
                            <div class="mb-20 last:mb-0 xl:mb-16">
                                <div class="relative mb-2 pb-2 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-7">03</div>
                                <div class="max-w-[39.75rem] mb-10 text-h3 2xl:text-h4 2xl:font-medium lg:max-w-full md:text-h5">Optimize investment returns</div>
                                <div class="max-w-[29.25rem] text-color-7 lg:max-w-full">Taxes can have a significant impact on your investment returns. Tax-efficient investment strategies, such as investing in tax-advantaged retirement accounts or taking advantage of capital gains tax rates, can help you maximize your investment returns over the long term. By strategically managing your investments with an eye on tax implications, you can minimize the impact of taxes on your investment gains, allowing your investments to grow more effectively.</div>
                            </div>
                            <div class="mb-20 last:mb-0 xl:mb-16">
                                <div class="relative mb-2 pb-2 text-lg uppercase text-color-7 after:absolute after:left-0 after:bottom-0 after:w-10 after:h-0.25 after:bg-color-7">04</div>
                                <div class="max-w-[39.75rem] mb-10 text-h3 2xl:text-h4 2xl:font-medium lg:max-w-full md:text-h5">Plan for major financial events</div>
                                <div class="max-w-[29.25rem] text-color-7 lg:max-w-full">Tax planning is essential when it comes to major financial events, such as buying a home, starting a business, or planning for retirement. These events often have significant tax implications, and proper tax planning can help you make informed decisions to minimize the tax impact. For example, understanding the tax deductions and credits available for homebuyers or the tax implications of different retirement account options can help you plan strategically and save on taxes, allowing you to achieve your financial goals more effectively.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    // recant articles
    <div class="section-light">
        <div class="container">
            <div class="label-dark">ARTICLE</div>
            <div class="max-w-[50.32rem] mb-28 text-h1-desktop 2xl:mb-20 2xl:text-h1-tablet xl:mb-16 md:text-h4">Recent articles</div>
            <div class="flex flex-wrap -mb-22 -mx-5 md:-mb-16">
                <a class="group w-[calc(50%-2.5rem)] mb-22 mx-5 md:w-[calc(100%-2.5rem)] md:mb-16" href="article.html">
                    <div class="relative aspect-[1.275] mb-16 xl:mb-10">
                        img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/blog-pic-1.jpg') alt="")
                    </div>
                    <div class="mb-2 text-sm text-color-7">MARCH 20, 2022</div>
                    <div class="text-h5 transition-colors group-hover:text-color-4 xl:text-h6 lg:text-h7">5 essential financial strategies for long-term wealth creation</div>
                </a>
                <a class="group w-[calc(50%-2.5rem)] mb-22 mx-5 md:w-[calc(100%-2.5rem)] md:mb-16" href="article.html">
                    <div class="relative aspect-[1.275] mb-16 xl:mb-10">
                        img(class="absolute top-0 left-0 w-full h-full object-cover" src=require('Images/blog-pic-2.jpg') alt="")
                    </div>
                    <div class="mb-2 text-sm text-color-7">MARCH 18, 2022</div>
                    <div class="text-h5 transition-colors group-hover:text-color-4 xl:text-h6 lg:text-h7">Navigating tax planning: How to optimize your tax strategy</div>
                </a>
            </div>
        </div>
    </div>
    include ../includes/achieve